/*hero*/
/*.hero  {*/
  /*width: 100%;
  height: 200px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  background-position: initial;
}*/

/*header*/

body {
  margin: 0px;
  padding: 0px;
}
header {
  height: 60px;
  width: 100%;
  background-color:#2e3330;
  position: fixed;
  top: 0px;
  z-index: 1;
}
header nav {
  height: 100%;
  width: 100%;
  position: relative;
  padding-right: 160px;
  border-bottom: solid 1px;
}
header h1 {
  position: absolute;
  width: 50%;
  left: 0px;
  margin: 0px;
  padding: 0px;
  line-height: 2.5;
  color: #262424;
}
header ul {
  position: absolute;
  width: 50%;
  right: 0px;
}
header li {
  display: inline-block;
  text-transform: uppercase;
  padding-right: 15px;
  line-height: 1.75;
  font-weight: 200;
  font-family: 'Lato', sans-serif;
}
header a {
  text-decoration: none;
  color: #f7eeee;
}
.content-container {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  max-width: 1024px;
  margin: 0 auto;
  font-family: 'Amiri', sans-serif;
}

/*intro*/

.intro h2 {
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  font-size: 55px;
  text-align: left;
}
.intro .content-container {
width: 100%;
height: 370px;
position: relative;
margin-top: 80px;
text-align: center;
}

.intro p {
  text-align: left;
  width: 55%;
  font-size: 17px;
}

.intro h3 {
  text-align: left;
  font-size: 21px;
  font-family: 'Josefin Sans', sans-serif;
  color: rgba(204, 138, 96, 1);
}

/*problem-solution*/
.problem-solution {
  height: 520px;

}
.problem-solution .box {
  /*background: rgba(234, 177, 72, 0.52);*/
  /*background-color: rgba(53, 144, 93, 0.52);*/
  background: rgba(212, 230, 220, 0.49);
  height: 802px;
  width: 1190px;
  margin-top: -450px;
}

.problem-solution h3 {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  font-size: 27px;
  text-align: center;
}

.problem-solution .row {
    position: relative;
    width: 100%;
}

.problem-solution-container {
  display: inline-grid;
  width: 37%;
  font-family: 'Amiri', serif;
  margin-bottom: 33px;
  margin-left: 63px;
  margin-right: 63px;
}

/*user research*/
.user-research {
  height: 700px;
}

.user-research h3 {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  font-size: 25px;
  margin-bottom: 50px;
}

.user-research h4 {
  text-align: center;
  font-size: 30px;
  color: #bf671c;
  border-bottom: #d4b69d solid 1px;
}

.user-research p {
  text-align: center;
  font-size: 17px;
}

/*image*/

.hair-image {
  background-image: url("../images/bun.jpg");
  height: 330px;
  background-position: center;
  background-size: cover;
}

/*rearch quotes*/

.research-quote {
  height: 570px;
}

.research-quote h3 {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  font-size: 25px;
  margin-bottom: 50px;
  margin-top: 80px;
}

.research-quote p {
  text-align: center;
  width: 44%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: 18px;
  margin-bottom: 40px;
  margin-top: 40px;
  color: #be6724;
}
/*competitive analysis*/
.competitive-analysis {
  height: 970px;
}

.competitive-analysis h3 {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  font-size: 25px;
  margin-bottom: 50px;
  margin-top: 80px;
}

.competitive-analysis p {
  width: 100%;
  font-size: 17px;
}

.competitive-analysis img {
  margin-left: 30px;
  margin-top: 40px;
}

/*user personas*/
.user-personas {
  height: 500px;
}

.user-personas h3 {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  font-size: 25px;
  margin-bottom: 50px;

}
.user-personas p {
text-align: center;
margin-bottom: 60px;
}

.user-personas .row {
    position: relative;
    width: 100%;
}

.user-container {
  display: inline-grid;
  width: 33%;
  font-family: 'Amiri', serif;
  margin-bottom: 33px;
}



/*user flows and stories*/

.user-flow {
  height: 400px;
}

.user-flow p {
  text-align: left;
  float: right;
  width: 36%;
}

.user-flow h3 {
  text-align: right;
  margin-right: 213px;
}

/*design*/
.design {
  height: 400px;
}

.design p {
  text-align: left;
  width: 33%;
}

/*lo fi wireframes*/
.lo-wireframes {
  height: 420px;
}

.lo-wireframes h3 {
  text-align: center;
}

.lo-wireframes .content-container {
  width: 60%;
}

/*hi fi wireframes*/
.hi-wireframes {
  height: 420px;
}

.hi-wireframes h3 {
  text-align: center;
}

.hi-wireframes .content-container {
  width: 60%;
}
/*conclusion*/
.conclusion {
  height: 200px;
}

.conclusion p {
  width: 33%;
}
